@font-face {
  font-family: "Lithos-Bold";
  src: local("Lithos-Bold"), url("fonts/Lithos-Bold1.ttf") format("truetype");
}

:root {
  --big-text-color: orange;
  --big-text-font: "Lithos-Bold", sans-serif;
  --big-text-size: 5rem;

  --mid-text-color: white;
  --mid-text-font: "Road Rage", sans-serif;
  --mid-text-size: 36px;

  --small-text-color: white;
  --small-text-font: "Rhodium Libre", sans-serif;
  --small-text-size: 30px;
}

body {
  background-blend-mode: multiply;
  margin: 0;
  padding: 0;
  font-family: var(--mid-text-font);
  font-size: var(--mid-text-size);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #93b7be;
  opacity: 0.9;
  background-size: 14px 14px;
  background-image: repeating-linear-gradient(
    to right,
    #bc6910,
    #bc6910 0.7000000000000001px,
    #93b7be 0.7000000000000001px,
    #93b7be
  );
  /* filter: contrast(1.1); */
  /* filter: saturate(1.1); */
}

/* background-color: #93b7be;
  opacity: 0.8;
  background-size: 14px 14px;
  background-image: repeating-linear-gradient(
    to right,
    #bc6910,
    #bc6910 0.7000000000000001px,
    #93b7be 0.7000000000000001px,
    #93b7be */

img {
  box-sizing: border-box;
}

.bigT {
  font-family: var(--big-text-font);
  font-size: var(--big-text-size);
  color: var(--big-text-color);
  overflow-wrap: anywhere;
  max-width: 250px;
}

.midT {
  font-family: var(--mid-text-font);
  font-size: var(--mid-text-size);
  color: var(--mid-text-color);
  text-shadow: 2px 2px 4px #000000;
}

.smallT {
  font-family: var(--small-text-font);
  font-size: var(--small-text-size);
  color: var(--small-text-color);

  text-shadow: 2px 2px 4px #000000;
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  padding: 10px;
  text-align: center;
  min-width: 320px;
  max-width: 1024px; /* Updated */
  min-height: 800px;
  max-height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero {
  background-image: url("bildes/hero1.jpg");
  min-height: 1000px;
}

.hero h1 {
  position: relative;
  top: 180px;
  left: 2vw;
  overflow-wrap: anywhere;
  max-width: 250px;
}

.hero2 {
  min-width: 320px;
  max-width: 1024px;
}

.background {
  background: conic-gradient(at 10% 50%, #0000 75%, #a4c2da 0),
    conic-gradient(at 10% 50%, #0000 75%, #a4c2da 0) calc(1 * 32px)
      calc(3 * 32px),
    conic-gradient(at 10% 50%, #0000 75%, #a4c2da 0) calc(2 * 32px)
      calc(1 * 32px),
    conic-gradient(at 10% 50%, #0000 45%, #9c7c48 0) calc(3 * 32px)
      calc(4 * 32px),
    conic-gradient(at 10% 50%, #0000 75%, #a4c2da 0) calc(4 * 32px)
      calc(2 * 32px),
    conic-gradient(at 50% 10%, #0000 75%, #2e6026 0) 0 calc(4 * 32px),
    conic-gradient(at 50% 10%, #0000 75%, #a4c2da 0) calc(1 * 32px)
      calc(2 * 32px),
    conic-gradient(at 50% 10%, #0000 85%, #a4c2da 0) calc(2 * 32px) 0,
    conic-gradient(at 50% 10%, #0000 75%, #a4c2da 0) calc(3 * 32px)
      calc(3 * 32px),
    conic-gradient(at 50% 10%, #0000 75%, #a4c2da 0) calc(4 * 32px)
      calc(1 * 32px),
    #d681aa;
  background-size: 160px 160px;
  position: relative;
  overflow: hidden;
  background-blend-mode: exclusion;
}

.background2 {
  background: conic-gradient(at 50% calc(100% / 6), #bba8d3 60deg, #0000 0),
    conic-gradient(at calc(100% / 6) 50%, #0000 240deg, #bba8d3 0),
    conic-gradient(
      from 180deg at calc(100% / 6) calc(500% / 6),
      #bba8d3 60deg,
      #0000 0
    ),
    conic-gradient(from 180deg at calc(500% / 6), #0000 240deg, #bba8d3 0)
      calc(4 * 0.866 * 16px) 0,
    repeating-linear-gradient(-150deg, #8664b1 0 calc(100% / 6), #0000 0 50%),
    repeating-linear-gradient(-30deg, #543b74 0 calc(100% / 6), #ce6f2f 0 50%);
  background-size: calc(6 * 0.866 * 16px) calc(3 * 16px);

  /* background-blend-mode: exclusion; */
}

.background3 {
  background: calc(0.9 * 32px) calc(0.9 * 32px) / calc(2 * 32px) calc(2 * 32px)
      conic-gradient(at 20% 20%, #0000 75%, #6b530f 0),
    calc(-0.1 * 32px) calc(-0.1 * 32px) / calc(2 * 32px) calc(2 * 32px)
      conic-gradient(at 20% 20%, #0000 75%, #8d7c4c 0),
    calc(0.7 * 32px) calc(0.7 * 32px) / calc(2 * 32px) calc(2 * 32px)
      conic-gradient(at 40% 40%, #0000 75%, #0f7f4f 0),
    calc(-0.3 * 32px) calc(-0.3 * 32px) / calc(2 * 32px) calc(2 * 32px)
      conic-gradient(at 40% 40%, #0000 75%, #0f7f4f 0),
    conic-gradient(from 90deg at 20% 20%, #5b4e29 25%, #0f7f4f 0) 0 0/32px 32px;

  background-blend-mode: exclusion;
}

/* ------------------------------------------------------subscribe--------------------------------------------------- */

.containersub {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 250px;
  height: 40px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
  border-radius: 60px;
  overflow: hidden;
}

.subscription {
  position: relative;
  width: 100%;
  height: 100%;
}

.subscription .add-email{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
}

.subscription .submit-email {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2px);
  width: 100px;
  border: none;
  border-radius: 60px;
  outline: none;
  margin: 1px;
  padding: 0 20px;
  cursor: pointer;
  background: #4ABEBB;
  color: #FFFFFF;
  transition: width .35s ease-in-out,
    background .35s ease-in-out;
}

.subscription.done .submit-email {
  width: calc(100% - 2px);
  background: #C0E02E;
}

.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 38px;
  transition: visibility .35s ease-in-out,
    opacity .35s ease-in-out;
}

.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
  visibility: hidden;
  opacity: 0;
}

.subscription .submit-email .after-submit {
  transition-delay: .35s;
}

.subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
  visibility: visible;
  opacity: 1;
}
/* ------------------------------------------------------------subend------------------------------------------------------ */

/* -------------------galerija----------------------------- */

.gallery-container {
  display: flex;
  justify-content: center;
}

.gallery-container img {
  width: 100%;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.thumbnails img {
  width: 7vh;
  height: 7vh;
  cursor: pointer;
}

.scrollbar {
  width: 1px;
  height: 720px;
  background: #ccc;
  display: block;
  margin: 0 0 0 8px;
}

.thumb {
  width: 1px;
  position: absolute;
  height: 0;
  background: #000;
}

.slides {
  margin: 0 16px;
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  width: calc(540px + 1rem);
  padding: 0 0.25rem;
  height: 720px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.slides > div {
  scroll-snap-align: start;
}

.slides img {
  width: 100%;
}

.slides::-webkit-scrollbar {
  display: none;
}


/* -------------------------------------------galerija------------------------------------------------- */

.background p {
  background-color: #a4c2da;
  opacity: 0.9;
  margin-left: 2vw;
  padding-bottom: 0vw;
  margin-right: 2vw;
  z-index: 2;
}

.header {
  opacity: 0.9;
  display: inline-block;
  top: 4rem;
  right: 280px;
  z-index: 2;
  position: fixed;
  width: 10%;
  height: 10%;
  padding: 0px;

  border: 19px solid transparent;

  border-bottom: 6px solid blue;

  transform: rotate(230deg);
  opacity: 0.6;
}

.header:hover {
  border-bottom: 10px solid green;
}

.header h6 {
  bottom: 100px;
  right: 200px;
  transform: rotate(180deg);
}

.speles {
  background-image: url("bildes/spel.jpg");
}

.speles h1 {
  position: relative;
  top: calc(3vh + 3vw);
  left: 12vw;
  overflow-wrap: anywhere;
  max-width: 250px;
  max-width: 200px;
}

.speles2 {
  min-width: 320px;
  max-width: 1024px;
  min-height: 8.7em;
  max-height: 12em;
  background-blend-mode: exclusion;
}

.speles2 img {
  display: inline-block;
  margin: 2vw;
  margin-right: 4vw;
  height: 100%;
  width: 20%;
  size: 100%;

  background-color: tan;
  opacity: 0.9;
}

.speles2 p {
  background-color: tan;

  opacity: 0.9;
}

.speles2 img:hover {
  filter: saturate(2);
  width: 21%;
}

.apartamenti {
  background-image: url("bildes/apartamenti.jpg");
}

.apartamenti h1 {
  position: relative;
  top: calc(1vh + 1vw);
  left: 7vw;
  overflow-wrap: anywhere;
  max-width: 250px;

}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.apartamenti2 {
  min-width: 320px;
  max-width: 1024px;
  min-height: 25em;
  max-height: 25em;
  background-blend-mode: exclusion;
}

.travel {
  background-image: url("bildes/travel.jpg");
}

.travel h1 {
  position: relative;
  top: calc(1vh + 1vw);
  left: 7vw;
  overflow-wrap: anywhere;
  max-width: 250px;

}

.kvests {
  background-image: url("bildes/kvests.jpg");
  
}

.kvests h1 {
  position: relative;
  top: calc(1vh + 1vw);
  left: 7vw;
  overflow-wrap: anywhere;
  max-width: 250px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 320px;
  max-width: 1024px; /* Updated */
  min-height: 800px;
  max-height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

h5 {
 margin-left: 1vw;
 text-align: left;
 color: pink;
}

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #pink;
}

.glitch {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  opacity: 0.5;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #0ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #ff00ff;
  z-index: -2;
}

@keyframes glitch-color {
  0% {
     transform: translate(0);
  }

  20% {
     transform: translate(-3px, 3px);
  }

  40% {
     transform: translate(-3px, -3px);
  }

  60% {
     transform: translate(3px, 3px);
  }

  80% {
     transform: translate(3px, -3px);
  }

  to {
     transform: translate(0);
  }
}
/* ----------------------------------clock start--------------------------------------------- */

.clock {
  display: flex;
  justify-content: center;
  background-color: red;
  background: url(bildes/clock.png) no-repeat center;

  height: 10em;

  position: absolute;
  width: 10em;
  box-sizing: content-box;
  opacity: 0.4;
  z-index: 1;
  background-color: wheat;
  background-blend-mode: exclusion;
  filter: blur(0.6px);
  filter: invert(70%);
}

.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.minutes-container,
.hours-container,
.seconds-container {
  position: absolute;
  top: 1em;
  right: 0;
  bottom: 0;
  left: 0;
}

.hours {
  background: #000;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
  transform: rotateZ(30deg);
}

.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.hours-container {
  animation: rotate 43200s infinite linear;
}

.minutes-container {
  animation: rotate 3600s infinite steps(60);
}
.seconds-container {
  animation: rotate 60s infinite steps(60);
}

/* -------------------------------clock end-------------------------------- */

@media screen and (max-width: 768px) {
  section {
    background-position: 60%;
  }

  .clock {
    width: 100%;
    right: 50px;

    overflow: hidden;
  }
  .hero h1 {
    right: calc(2vw + 2rem);
  }

  .header {
    align-items: center;
    top: 30px;
    right: 30px;
    border-bottom: 16px solid blue;
  }

  .header h6 {
    top: 10px;
    display: inline-block;
  }

  .smallT {
    font-size: 18px;
  }

  .speles2 img {
    width: 40%;
  }
  .apartamenti2 {
    max-height: 35em;
  }
  .thumbnails {
    gap: 48px;
  }

  .carousel-item img {
    width: 40%;
  }
}

@media screen and (min-width: 640px) {
  .hero h1 {
    left: calc(6vw + 6rem);
  }
  .clock {
    bottom: 18vw;
    right: 18vw;
  }
  .speles2 p {
    margin-left: 330px;
    margin-right: 330px;
  }
body {
  padding: 20px;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

}

