@font-face {
  font-family: "Lithos-Bold";
  src: local("Lithos-Bold"), url("fonts/Lithos-Bold1.ttf") format("truetype");
}

:root {
  --big-text-color: orange;
  --big-text-font: "Lithos-Bold", sans-serif;
  --big-text-size: 80px;

  --mid-text-color: white;
  --mid-text-font: "Road Rage", sans-serif;
  --mid-text-size: 36px;

  --small-text-color: #999;
  --small-text-font: "Rhodium Libre", sans-serif;
  --small-text-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--mid-text-font);
  font-size: var(--mid-text-size);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  box-sizing: border-box;
}

.bigT {
  font-family: var(--big-text-font);
  font-size: var(--big-text-size);
  color: var(--big-text-color);
  overflow-wrap: anywhere;
  max-width: 250px;
}

.midT {
  font-family: var(--mid-text-font);
  font-size: var(--mid-text-size);
  color: var(--mid-text-color);
}

.smallT {
  font-family: var(--small-text-font);
  font-size: var(--small-text-size);
  color: var(--small-text-color);
}

main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  padding: 20px;
  text-align: center;
  min-width: 320px;
  max-width: 1024px; /* Updated */
  min-height: 800px;
  max-height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero h1 {
  overflow-wrap: anywhere;
  max-width: 250px;
}

section:nth-child(1) {
  background-image: url("bildes/hero1.png");
}

section:nth-child(2) {
  background-image: url("bildes/speles1.jpg");
}

section:nth-child(3) {
  background-image: url("path/to/image3.jpg");
}

section:nth-child(4) {
  background-image: url("path/to/image4.jpg");
}

section:nth-child(5) {
  background-image: url("path/to/image5.jpg");
}

section:nth-child(6) {
  background-image: url("path/to/image6.jpg");
}


@media screen and (max-width: 768px) {
    section {
      /* background-position: right center; */
    }
  }